h1 {
    justify-content: center;
    display: flex;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    background-color: green;
    border-radius: 10px;
    height: 65px;
    font-size: 35px;
    padding-top: 15px;
    margin-top: 30px;
    margin-bottom: 10px;
}

img {
    width: 1080;
}

body {
 background-color: #41a6f6;
}